.trapezoid {
  border-bottom: 35px solid grey;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 115px;
}

.trapezoid:hover {
  border-bottom-color: red;
}

.trapezoid-inverted {
  border-top: 35px solid grey;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 100px;
}

.trapezoid-inverted:hover {
  border-top-color: red;
}

@media screen and (min-width: 992px) {
  .trapezoid {
    border-bottom: 50px solid grey;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 165px;
  }

  .trapezoid-inverted {
    border-top: 50px solid grey;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .trapezoid {
    border-bottom: 50px solid grey;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 165px;
  }

  .trapezoid-inverted {
    border-top: 50px solid grey;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .trapezoid {
    border-bottom: 50px solid grey;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 165px;
  }

  .trapezoid-inverted {
    border-top: 50px solid grey;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 150px;
  }
}

.header-link-text {
  color: white;
  font-size: 13px;
  padding-left: 33px;
  padding-top: 6px;
}

@media screen and (min-width: 992px) {
  .header-link-text {
    font-size: 20px;
    padding-left: 48px;
    padding-top: 6px;
  }
}

@media screen and (min-width: 1440px) {
  .header-link-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .header-link-text {
    font-size: 20px;
  }
}

.header-link-text:hover + .trapezoid {
  border-bottom-color: red;
}

.header-link-text:hover + .trapezoid-inverted {
  border-top-color: red;
}

.trapezoid-active {
  border-bottom-color: red;
}

.trapezoid-inverted-active {
  border-top-color: red;
}