.top-left-heading-overlay {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 30px;
    font-family: BebasNeue;
    letter-spacing: 5px;
    color: white;
    background-color: black;
}

.home-page-name::before {
    content: "ABSIS";
    animation: nameAnimation 1 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes nameAnimation {
    0% {
        content: "ABSIS";
    }
    6% {
        content: "ABH SIS";
    }
    12% {
        content: "ABHI SIS";
    }
    18% {
        content: "ABHIJ SIS";
    }
    24% {
        content: "ABHIJI SIS";
    }
    30% {
        content: "ABHIJIT SIS";
    }
    36% {
        content: "ABHIJITS SIS";
    }
    42% {
        content: "ABHIJITSI SIS";
    }
    48% {
        content: "ABHIJITSIN SIS";
    }
    54% {
        content: "ABHIJITSING SIS";
    }
    60% {
        content: "ABHIJITSINGH SIS";
    }
    66% {
        content: "ABHIJITSINGH SISO";
    }
    72% {
        content: "ABHIJITSINGH SISOD";
    }
    78% {
        content: "ABHIJITSINGH SISODI";
    }
    84% {
        content: "ABHIJITSINGH SISODIY";
    }
    90% {
        content: "ABHIJITSINGH SISODIYA";
    }
    96% {
        content: "ABHIJITSINGH SISODIYA";
    }
    100% {
        content: "ABHIJITSINGH SISODIYA";
    }
}

.top-left-text-overlay {
    position: absolute;
    top: 140px;
    left: 40px;
    font-size: 20px;
    font-family: BebasNeue;
    letter-spacing: 5px;
    color: white;
    background-color: black;
}

.home-page-frontend-dev::before {
    content: "";
    animation: frontendDevAnimation 1 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes frontendDevAnimation {
    0% {
        content: "<F>";
    }
    6% {
        content: "<FR>";
    }
    12% {
        content: "<FRO>";
    }
    18% {
        content: "<FRON>";
    }
    24% {
        content: "<FRONT>";
    }
    30% {
        content: "<FRONTE>";
    }
    36% {
        content: "<FRONTEN>";
    }
    42% {
        content: "<FRONTEND>";
    }
    48% {
        content: "<FRONTEND D>";
    }
    54% {
        content: "<FRONTEND DE>";
    }
    60% {
        content: "<FRONTEND DEV>";
    }
    66% {
        content: "<FRONTEND DEVE>";
    }
    72% {
        content: "<FRONTEND DEVEL>";
    }
    78% {
        content: "<FRONTEND DEVELO>";
    }
    84% {
        content: "<FRONTEND DEVELOP>";
    }
    90% {
        content: "<FRONTEND DEVELOPE>";
    }
    96% {
        content: "<FRONTEND DEVELOPER>";
    }
    100% {
        content: "<FRONTEND DEVELOPER>";
    }
}

.top-left-anime-overlay {
    position: absolute;
    top: 180px;
    left: 40px;
    font-size: 20px;
    font-family: BebasNeue;
    letter-spacing: 5px;
    color: white;
    background-color: black;
}

.home-page-anime-overlay::before {
    content: "";
    animation: otakuAnimation 1 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes otakuAnimation {
    0% {
        content: "<O>";
    }
    25% {
        content: "<OT>";
    }
    50% {
        content: "<OTA>";
    }
    75% {
        content: "<OTAK>";
    }
    100% {
        content: "<OTAKU>";
    }
}

.top-left-gamer-overlay {
    position: absolute;
    top: 220px;
    left: 40px;
    font-size: 20px;
    font-family: BebasNeue;
    letter-spacing: 5px;
    color: white;
    background-color: black;
}

.home-page-gamer-overlay::before {
    content: "";
    animation: gamerAnimation 1 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes gamerAnimation {
    0% {
        content: "<G>";
    }
    25% {
        content: "<GA>";
    }
    50% {
        content: "<GAM>";
    }
    75% {
        content: "<GAME>";
    }
    100% {
        content: "<GAMER>";
    }
}

@media screen and (min-width: 992px) {
    .top-left-heading-overlay {
        top: 70px;
        left: 30px;
        font-size: 40px;
        letter-spacing: 7px;
    }
    .top-left-text-overlay {
        top: 150px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .top-left-anime-overlay {
        top: 190px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .top-left-gamer-overlay {
        top: 230px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 1440px) {
    .top-left-heading-overlay {
        top: 70px;
        left: 30px;
        font-size: 60px;
        letter-spacing: 10px;
    }
    .top-left-text-overlay {
        top: 180px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .top-left-anime-overlay {
        top: 220px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .top-left-gamer-overlay {
        top: 260px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 1920px) {
    .top-left-heading-overlay {
        top: 70px;
        left: 30px;
        font-size: 60px;
        letter-spacing: 10px;
    }
    .top-left-text-overlay {
        top: 180px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .top-left-anime-overlay {
        top: 220px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
    .top-left-gamer-overlay {
        top: 260px;
        left: 40px;
        font-size: 20px;
        letter-spacing: 5px;
    }
}