@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.ttf);
  }

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

a {
    color: black;
}
a:hover {
    color: white;
    text-decoration: none;
}

.filter-effect {
    filter: grayscale(100%);
}

.sectionImages {
}

#loader {
    top: 0;
}

